a.no-underline {
    text-decoration: none;
  }

  a.no-underline:hover {
    text-decoration: underline;
    color: #1a73e8;
  }

  a.light-gray-link {
    color: #777777;          /* light gray */
    text-decoration: none;   /* remove underline */
  }
